# Scaleway credentials
scw_access_key      = "SCWXXXXXXXXXXXXXXXXX"
scw_secret_key      = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
scw_organization_id = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
scw_project_id      = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

# Backend configuration
bucket_name  = "k3s-migration-terraform-state"
project_name = "k3s-migration"

# Region and zone
scw_region = "fr-par"
scw_zone   = "fr-par-1"
